<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Black Color -->
    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>

    <!-- White Color  -->
    <material name="white">
        <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <!-- Red Color -->
    <material name="red">
        <color rgba="1.0 0.0 0.0 1.0"/>
    </material>

    <!-- Green Color -->
    <material name="green">
        <color rgba="0.0 1.0 0.0 1.0"/>
    </material>

    <!-- Blue Color -->
    <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
    </material>
</robot>